version: "3.9"

services:

  backend:
    build: ./tirum_backend
    container_name: tirum-backend
    command: gunicorn tirum_backend.wsgi:application --bind 0.0.0.0:8000 --workers 2
    volumes:
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    env_file:
      - .env
    depends_on:
      - db
      - redis
    restart: always

  db:
    image: postgres:15-alpine
    container_name: tirum-postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - .env
    restart: always

  redis:
    image: redis:7-alpine
    container_name: tirum-redis
    restart: always

  nginx:
    build:
      context: ./nginx
      dockerfile: Dockerfile
    container_name: tirum-nginx
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - backend
    volumes:
      - static_volume:/app/staticfiles
      - media_volume:/app/media
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    restart: always

volumes:
  postgres_data:
  static_volume:
  media_volume:
