version: "3.9"

services:
  backend:
    build:
      context: .  # Current directory is Backend/
    container_name: tirum-backend
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    environment:
      - DEBUG=1
